{% extends "base.html" %}

{% block extra_title %}Blog | {% endblock extra_title %}

{% block titulo %}Blog “Soy travesti porque así nací”{% endblock titulo %}

{% block main_content %}
<p>
    Desde que tengo memoria supe que era travesti y sentía que era malo. Desde pequeño uno oye comentarios que no son buenos y lo único que conoce es lo que se ve en la calle. Por otra parte, siendo niño, mi papá me descubrió usando un vestido de mi mamá. Eso fue terrible y me amenazó con echarme de la casa.

Uno crece lleno de confusiones. Y sólo hasta los 30 años vine a tener mi primera entrevista psicológica y para esa época no se sabía qué era lo que pasaba; simplemente que era una condición psicológica. Me decían: “Usted no es una persona normal y tiene dos opciones: o vive con eso o va donde los terapistas heterodoxos y allá ‘lo curan'”. Y, por supuesto, esto no tiene cura porque no es una enfermedad.

Yo decidí salir del clóset inmediatamente supe que esto no era una enfermedad mental, que era una persona normal, como si fuera zurdo, que no estaba haciendo ningún mal y que además estaba protegido por la Constitución, por medio del libre desarrollo de la personalidad. Me parecía incorrecto andar con ese secreto que toda la vida cargué y que tanto daño me hizo. Entonces tomé la decisión y pensé: “Sí: soy travesti. Los que me quieren como travesti, muy bien. Los que no, adiós”.
</p>


{% endblock main_content %}